
    <h3>Your Tasks</h3>
    <ol>
      <% @tasks.each do |task| %>
      <li>
        <p id='title'> <strong><a href='/tasks/<%= task.id %>'> <%= task.title %></a></strong></p>
        <p id='edit'>   <%= link_to "Edit", edit_task_path(task.id) %>   | </p>
        <p id='delete'>   <%= link_to "Delete", task_path(task.id), method: :delete, data: {confirm: "Delete Task: #{task.title}?"} %></p>
      </li>
    <% end %>
    </ol>

</main
