// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 main {
   display: grid;
   grid-template-columns: 1fr 3fr;
 }

 h2 {
   grid-column: 1;
   border: 1px solid;
   border-radius: 10px;
   text-align: center;
   padding: 2px;
   margin: 10%;
 }

#taskbox {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 5px;
  margin: 4%;
  padding: 5%;
}

h3 {
  text-align: center;
}

li {
  padding: 5%;
}

p:not(:first-child) {
  display: inline;
}

.strikethrough {
  text-decoration: line-through;
}
