// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 main {
   display: grid;
   grid-template-columns: 1fr 3fr;
 }

 h1 {
   border-radius: 10px;
   text-align: center;
   padding: 2px;
   margin: 10%;
   font-size: 3rem;
 }

 h1, h2, h3 {font-family: 'Delius Unicase', cursive;}

 nav {
   display: grid;
   grid-template-rows: 1fr 1fr 1fr 6fr;
   position: fixed;
   top: 15%;
   left: 5%;
   width: 20%;
   justify-self: center;
 }

 h2 {
   border: 1px solid;
   border-radius: 10px;
   text-align: center;
   padding: 5%;
   margin: 10%;
 }

*[href] {
  text-decoration: none;
}

.button {
  padding-top: 5%;
}

#index_list, .title, .list_title, .mark, .edit, .del {
  font-family: 'Dekko', cursive;
}

.list_title {
  font-size: 1.2rem;
  font-weight: bolder;
}
#taskbox {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 5px;
  margin: 4%;
  padding: 0% 5%;
  grid-column: 2;
}

#show {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'desc desc desc'
    'comp comp comp'
    'x x x'
    'mark edit del';
}

#desc {
  grid-area: desc;
}

#comp {
  grid-area: comp;
}

#desc, #comp {
  align-self: center;
  font-family: 'Inconsolata', monospace;
  font-size: 1.5rem;
}

.mark {
  grid-area: mark;
}

.edit {
  grid-area: edit;
}

.del {
  grid-area: del;
}

.mark, .edit, .del {
  align-self: center;
  justify-self: center;
}

h3 {
  text-align: center;
}

li {
  padding: 5%;
}

p:not(:first-child) {
  display: inline;
}

.strikethrough {
  text-decoration: line-through;
}
